section.presentWrap
  h1.presentWrap__title Oval Rays Cards
  p.presentWrap__link Design by: 
    a(href="https://ru.pinterest.com/pin/659284832970710639/") Pinterest
  .presentWrap__cardsBlock

    mixin ovalRaysCardMix(cardMod, sloganTop, sloganEnd, cardTitle, digit1, digit2, digit3)
      .ovalRaysCard(class=`${cardMod}`)
        .ovalRaysInner
          .raysWrap
            - var rayItemNumber = 1;
            while rayItemNumber <= 4
              .raysWrap__ray(id=`_${rayItemNumber++}`)
          .ovalRaysInner__oval
          .ovalRaysInner__radio
          span.ovalRaysInner__slogan._t #{sloganTop}
          span.ovalRaysInner__slogan._b #{sloganEnd}
          span.ovalRaysInner__title #{cardTitle}
          span.ovalRaysInner__number
            span.ovalRaysInner__digit #{digit1}
            span.ovalRaysInner__digit #{digit2}
            span.ovalRaysInner__digit #{digit3}

    +ovalRaysCardMix('','Go retro or go home.', 'Rockin retro every day.', 'Fame and Fortune', '7', '8', '5')
    +ovalRaysCardMix('_ovalHide','Go retro or go home.', 'Rockin retro every day.', 'Fame and Fortune', '7', '8', '5')